.main-header {
    padding: 10px 0;
    background: #2465cb;
}

.main-header__logo {float: left;}

.main-header__login {
    position: relative;
    float: right;
    padding: 5px 0;
}

.main-header__login-link {
    padding-bottom: 1px;
    color: #fff;
    line-height: 28px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0);
    
    -webkit-transition: all 0.3s ease; 
    transition: all 0.3s ease; 
}

.main-header__login-link:hover {border-color: #fff;}

.hero-block {
    position: relative;
    padding: 60px 0;
    color: #fff;
    
    display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    
    -webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.hero-block__content {
    position: relative;
    width: 700px;
    margin: 0 auto;
    z-index: 1;
}

.hero-block__title {text-align: center;}

.hero-block__text {
    margin: 20px 0;
    color: #bbb;
    text-align: center;
}

.hero-block__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.hero-block__bg img {
	position: absolute;
	top: 50%;
	left: 50%;
	min-height: 100%;
	min-width: 100%;
	max-width: none;
}

@supports (object-fit: cover) {
	.hero-block__bg img {
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		min-height: 0;
		min-width: 0;
		object-fit: cover;
	}
}

.register-form__gender {
    margin-bottom: 20px;
    text-align: center;
}

.register-form__gender-item {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
}

.register-form__gender-input {display: none;}

.register-form__gender-label {
    display: block;
    color: #eee;
    font-size: 24px;
    border-bottom: 2px solid rgba(0,0,0,0);
    cursor: pointer;
    
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.register-form__gender-label:hover {color: #fff;}

.register-form__gender-input:checked + .register-form__gender-label {border-color: #ebeb00;}

.register-form__group {margin-bottom: 20px;}
.register-form__group:last-child {margin-bottom: 0;}

.register-form__fields {
    width: 310px;
    margin: 45px auto 0;
}

.register-form__input {
    display: block;
    width: 100%;
    height: 42px;
    padding: 5px;
    font: 400 21px/30px Roboto, sans-serif;
    color: #fff;
    background: none;
    border: 0;
    border-bottom: 2px solid #555;
}

.register-form__input:hover {border-color: #eaea00;}

.register-form__input::-moz-placeholder  {color: #fff;}
.register-form__input:-ms-input-placeholder  {color: #fff;}
.register-form__input::-webkit-input-placeholder {color: #fff;}

.register-form__button {
    display: block;
    width: 100%;
    padding: 15px 30px;
    font: 400 24px/30px Roboto, sans-serif;
    text-align: center;
    color: #333;
    background-color: #ebeb00;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
}

.register-form__button:hover {background-color: #ffff54;}

.register-form__link {
    display: table;
    margin: 15px auto 0;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    border-bottom: 1px dashed #ebeb00;
}

.register-form__link:hover {border-color: rgba(0,0,0,0);}

.main-body__description {
    padding: 90px 0;
    background: #fff;
}

.main-body__title {
    margin-bottom: 60px;
    font-size: 30px;
    font-weight: 900;
    line-height: 1;
    text-align: center;
    color: #2c5c92;
}

.main-body__description-list {
    margin: -60px -10px 0;
    display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.main-body__description-item{
    width: 33.333%;
    padding: 10px;
    margin-top: 60px;
    text-align: center;
}

.main-body__description-image {margin-bottom: 20px;}

.main-body__description-image img {vertical-align: top;}

.main-body__description-name {
    margin-bottom: 15px;
    font-size: 22px;
    line-height: 1;
    color: #333;
}

.main-body__description-text {
    font-size: 15px;
    color: #666666;
}