.header__nav-count {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    width: 14px;
    height: 14px;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: #000;
    background-color: #fff;
    border-radius: 50%;
}

.header .nav a:hover .header__nav-count,
.header .nav .active .header__nav-count {background-color: #ffbe00;}

.header__dropdown-count {
    float: right;
    width: 14px;
    height: 14px;
    margin-top: 9px;
    color: #777;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 50%;
}

.header .dropdown a:hover .header__dropdown-count {background-color: #e0e0e0;}

.message-nav__count {
    float: right;
    margin-top: 3px;
    width: 14px;
    height: 14px;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    background-color: rgba(0,0,0,0.1);
    border-radius: 50%;
}

.modal-notice {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 2;
    font-size: 14px;
    line-height: 20px;
}

.modal-notice__item {
    position: relative;
    margin-top: 10px;
    width: 300px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    background: rgba(100,100,100,0.75);
    border-radius: 4px;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;  
    align-items: center;
}

.modal-notice__item:hover {background-color: rgba(0,0,0,0.75);}

.modal-notice__text {
    display: block;
    margin-left: 10px;
}

.modal-notice__title {
    display: block;
    margin-bottom: 5px;
}

.modal-notice__annotation {
    display: block;
    font-size: 13px;
    line-height: 15px;
}

.modal-notice__close {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
}

.modal-notice__close:hover .icon-ui {background-position-x: -40px;}