.promo-page {
    padding: 30px;
    min-height: 100vh;
    background: url(../images/hero-block-bg.jpg) no-repeat center;
    background-size: cover;
    
    display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.promo-page__content {margin: auto;}

.promo-page__header {
    padding: 30px;
    color: #fff;
    text-align: center;
}

.promo-page__title {
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    color: #eee;
}

.promo-page__subtitle {
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 300;
}

.promo-page__form {
    max-width: 550px;
    margin: 0 auto;
    padding: 50px 80px;
    background-color: #fff;
    border-radius: 4px;
}

.promo-page__form-row {
    margin: 0 -10px 30px;
    
    display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    
    -webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.promo-page__form-row:last-child {margin-bottom: 0;}

.promo-page__form-row--center {
    text-align: center;
    -webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.promo-page__form-col {
    padding: 0 15px;
}

.promo-page__form-col--label {
    width: 170px;
    white-space: nowrap;
}

.promo-page__form-select {
    width: 100%;
    max-width: 250px;
    height: 30px;
    line-height: 28px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

.promo-page__form-button {
    display: inline-block;
    vertical-align: top;
    min-width: 250px;
    margin: 0 auto;
    padding: 10px 20px;
    font: 400 21px/30px Roboto, sans-serif;
    text-align: center;
    color: #fff;
    background-color: #2d8cf0;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
}

.promo-page__form-button:hover {background-color: #1b6cc1;}
    
.promo-page__form-link {
    display: table;
    margin: 20px auto 0;
    font-size: 14px;
}
