@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    outline: 0
}

body,html {
    width: 100%;
    height: 100%
}

body {
    background-color: #edeef0;
    font-family: 'Open Sans',sans-serif
}

img {
    max-width: 100%
}

a {
    color: #2c5c92
}

.fa-check,.fa-pencil {
    cursor: pointer
}

.wrapper {
    max-width: 1180px;
    padding: 0 20px;
    width: 100%;
    margin: auto
}

.wrapper:after {
    content: ' ';
    display: block;
    clear: both
}

.header {
    width: 100%;
    float: left;
    background-color: #2465cb;
    height: 60px;
    line-height: 60px;
    padding-left: 30px;
    padding-right: 30px
}

.header .logo {
    float: left
}

.header .logo img {
    display: inline-block;
    vertical-align: middle
}

.header .authorization {
    float: right;
    font-size: 14px;
    color: #fff;
    text-decoration: none
}

.header .authorization:hover {
    color: #ffbe00
}

.header .authorized {
    float: right;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    cursor: pointer
}

.header .authorized:after {
    content: " ";
    display: inline-block;
    transform: rotate(-180deg);
    width: 9px;
    height: 9px;
    background-image: url(../images/galochka.jpg);
    background-repeat: no-repeat;
    background-position: center
}

.header .authorized .img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px
}

.header .authorized .img img {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50px
}

.header .authorized.open:after {
    transform: rotate(0)
}

.header .authorized.open ul.dropdown {
    top: 70px;
    opacity: 1
}

.header .authorized ul.dropdown {
    position: absolute;
    top: -500px;
    right: -20px;
    border: 1px solid #e3e4e8;
    padding: 15px;
    background-color: #fff;
    border-radius: 2px;
    z-index: 2;
    width: 170px;
    opacity: 0;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s
}

.header .authorized ul.dropdown li {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 30px;
    line-height: 30px;
    font-size: 13px
}

.header .authorized ul.dropdown li a {
    color: #777;
    text-decoration: none
}

.header .authorized ul.dropdown li a:hover {
    text-decoration: underline
}

.header .authorized ul.dropdown li.divider {
    height: 1px;
    width: 100%;
    background-color: #e3e4e8;
    margin-top: 5px;
    margin-bottom: 5px
}

.header .nav {
    list-style: none;
    display: block;
    float: left;
    padding: 0;
    margin: 0
}

.header .nav li {
    list-style: none;
    display: block;
    float: left
}

.header .nav li.active a {
    color: #ffbe00
}

.header .nav li.active a:after {
    content: " ";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50px;
    height: 4px;
    background-color: #ffbe00
}

.header .nav li a {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
    color: #fff;
    display: block;
    text-decoration: none
}

.header .nav li a:hover {
    color: #ffbe00
}

.header .wrapper {
    position: absolute;
    top: 0;
    left: 30px;
    right: 30px
}

.main {
    padding-top: 40px;
    width: 100%;
    float: left
}

.right {
    float: right
}

.miniPanel {
    float: left;
    width: 263px;
    border: 1px solid #e3e4e8;
    padding: 10px;
    background-color: #fff;
    border-radius: 3px;
    margin-right: 30px;
    margin-bottom: 20px;
    height: 340px;
    overflow: hidden;
    transition: border .3s;
    -webkit-transition: border .3s;
    -moz-transition: border .3s;
    -ms-transition: border .3s;
    -o-transition: border .3s
}

.miniPanel:nth-child(3n) {
    margin-right: 0
}

.miniPanel .text {
    float: left;
    clear: both;
    width: 100%;
    padding-top: 7px
}

.miniPanel .text .star {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../images/star.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 15px
}

.miniPanel .text .top {
    float: left;
    width: 100%;
    font-size: 14px;
    color: #333;
    position: relative
}

.miniPanel .text .top .status.online {
    color: #008926
}

.miniPanel .text .bottom {
    float: left;
    width: 100%;
    font-size: 13px;
    color: #777
}

.miniPanel .photo img {
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s
}

.miniPanel .btn-mini {
    position: absolute;
    top: -20px;
    left: 20px;
    opacity: 0;
    z-index: 5;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s
}

.miniPanel .btn-mini img {
    display: block
}

.miniPanel .btn-blue {
    position: absolute;
    right: 20px;
    top: -20px;
    opacity: 0;
    z-index: 5;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s
}

.miniPanel .btn-fullWidth {
    background-color: #2465cb;
    position: absolute;
    left: 20px;
    right: 20px
}

.miniPanel:hover {
    border: 1px solid #2e74da
}

.miniPanel:hover .photo img {
    transform: scale(1.03)
}

.miniPanel:hover .btn-blue,.miniPanel:hover .btn-mini {
    opacity: 1;
    top: 20px
}

.miniPanel:hover .btn-fullWidth {
    top: 50%;
    margin-top: -20px
}

.panel {
    float: left;
    width: 100%;
    background-color: #fff;
    border: 1px solid #e3e4e8;
    border-radius: 3px;
    margin-bottom: 20px
}

.panel h2 {
    font-size: 16px;
    font-weight: 600;
    color: #444;
    margin-bottom: 5px
}

.panel input[type=file] {
    display: none
}

.panel input[type=file]+label {
    border: 1px dashed #ccc;
    width: 97px;
    height: 82px;
    display: block;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer
}

.panel input[type=file]+label:before {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    background-color: #e1e6fa
}

.panel input[type=file]+label:after {
    content: "+";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 26px;
    height: 26px;
    margin: auto;
    background-color: #2e74da;
    color: #fff;
    text-align: center;
    line-height: 26px;
    border-radius: 50px;
    font-size: 20px
}

.panel .imgBlock {
    width: 97px;
    height: 82px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    text-align: center;
    position: relative
}

.panel .imgBlock .del {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 20px;
    background-color: #fff;
    border-radius: 50px;
    cursor: pointer
}

.panel .block {
    margin-bottom: 20px
}

.panel .block.border-top {
    padding-top: 25px;
    border-top: 1px dashed #aaa
}

.panel .block:last-child {
    margin-bottom: 0
}

.panel table.settings {
    border: 0;
    border-collapse: collapse
}

.panel table.settings tr th {
    font-weight: 600;
    padding-bottom: 10px
}

.panel table.settings tr th:nth-last-child(3) {
    width: 480px;
    text-align: left
}

.panel table.settings tr th:nth-last-child(2):nth-child(2) {
    text-align: center
}

.panel table.settings tr th:nth-child(3) {
    text-align: center
}

.panel table.settings tr td {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    color: #777;
    width: 480px;
    vertical-align: top
}

.panel table.settings tr td:first-child {
    width: 260px
}

.panel table.settings tr td:first-child:last-child {
    width: 100%
}

.panel table.settings tr td:nth-last-child(3) {
    width: 480px;
    text-align: left
}

.panel table.settings tr td:nth-last-child(2):nth-child(2) {
    text-align: center
}

.panel table.settings tr td:nth-child(3) {
    text-align: center
}

.panel table.settings tr td:nth-child(2) {
    color: #444
}

.panel table.settings tr td i {
    color: #aaa;
    margin-left: 10px
}

.panel table.settings tr td i:hover {
    color: #444
}

.panel .tabs {
    width: 100%;
    float: left;
    height: 100%
}

.panel .tabs .tab {
    font-size: 13px;
    display: block;
    height: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    color: #777;
    text-decoration: none
}

.panel .tabs .tab.active,.panel .tabs .tab:hover {
    color: #444
}

.panel .tabs .tab.active:after {
    content: " ";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #0b89d6
}

.panel .tabs .tab.active:hover {
    text-decoration: none
}

.panel .tabBody {
    display: none
}

.panel .tabBody.active {
    display: block
}

.panel.myStatus {
    height: 46px;
    border: 1px solid #e3e4e8;
    border-radius: 2px
}

.panel.myStatus .left {
    border-right: 1px solid #e3e4e8;
    width: 118px;
    float: left;
    font-weight: 600
}

.panel.myStatus .right {
    float: right;
    width: calc(100% - 118px);
    height: 44px
}

.panel.myStatus .right input {
    width: 100%;
    height: 44px;
    border: 0;
    line-height: 44px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-right: 85px
}

.panel.myStatus .right input:focus,.panel.myStatus .right input:hover {
    border: 0
}

.panel.myStatus .right input.btn-mini {
    left: auto;
    height: 24px;
    line-height: 24px;
    width: 70px;
    text-align: center;
    top: 10px;
    padding-right: 0
}

.panel.myStatus .status {
    width: 100%;
    float: left;
    height: 44px;
    position: relative
}

.panel.transparentPanel {
    background-color: transparent;
    border: 0
}

.panel.status {
    border: 0;
    border-radius: 5px 5px 3px 3px;
    overflow: hidden
}

.panel.status .head {
    height: 130px;
    text-align: center;
    line-height: 130px
}

.panel.status .head img {
    display: inline-block;
    vertical-align: middle
}

.panel.status.green .head {
    background-color: #04b755
}

.panel.status.red .head {
    background-color: #ff3200
}

.panel.status .body {
    border: 1px solid #e3e4e8;
    padding-top: 30px;
    padding-bottom: 25px;
    text-align: center;
    font-size: 15px;
    color: #777;
    line-height: 1.4em
}

.panel.status .body .title {
    font-size: 16px;
    color: #333;
    font-weight: 700
}

.panel.status .footer {
    position: relative;
    margin-top: 0;
    text-align: center;
    background-color: #fff;
    height: 55px
}

.panel.status .footer .btn-footer {
    font-size: 20px;
    color: #2c5c92;
    height: 100%;
    line-height: 55px;
    width: 100%;
    display: block
}

.panel.myProfile .myPhoto {
    text-align: center;
    margin-bottom: 20px
}

.panel.myProfile .btn {
    width: 100%;
    margin-bottom: 10px
}

.panel.myProfile .btn.btn-blue {
    margin-bottom: 0
}

.panel.authPanel .head {
    padding-left: 15px;
    padding-right: 15px
}

.panel.authPanel .body {
    padding: 20px 15px
}

.panel.authPanel .body a {
    font-size: 13px;
    color: #2c5c92;
    text-decoration: none
}

.panel.authPanel .body a:hover {
    text-decoration: underline
}

.panel.authPanel .body .btn-blue {
    clear: both;
    width: 100%;
    margin-top: 20px
}

.panel.random .head {
    padding-left: 15px;
    padding-right: 15px
}

.panel.random .miniPanel {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
    border: 0
}

.panel.mobApp .body,.panel.mobApp .head {
    padding-left: 15px;
    padding-right: 15px
}

.panel.mobApp .body .btn.btn-mini {
    height: 49px;
    margin-bottom: 20px
}

.panel.mobApp .body .btn.btn-mini:last-child {
    margin-bottom: 0
}

.panel input[type=text],.panel input[type=password] {
    width: 100%;
    max-width: 250px;
    height: 30px;
    line-height: 28px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px
}

.panel input[type=text]:focus,.panel input[type=text]:hover,.panel input[type=password]:focus,.panel input[type=password]:hover {
    border: 1px solid #2c5c92
}

.panel input[type=text].error,.panel input[type=password].error {
    border: 1px solid red
}

.panel select {
    width: 100%;
    max-width: 250px;
    height: 30px;
    line-height: 28px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px
}

.panel textarea {
    resize: none;
    width: 100%;
    height: 120px;
    line-height: 28px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    max-width: 250px
}

.panel textarea:focus,.panel textarea:hover {
    border: 1px solid #2c5c92
}

.panel textarea.error {
    border: 1px solid red
}

.panel .head {
    padding-left: 20px;
    padding-right: 20px;
    height: 47px;
    line-height: 46px;
    border-bottom: 1px solid #e3e4e8;
    font-size: 13px
}

.panel .head a {
    color: #2c5c92;
    text-decoration: none
}

.panel .head a:hover {
    text-decoration: underline
}

.panel .head .title {
    float: left;
    color: #777
}

.panel .body {
    float: left;
    width: 100%;
    padding: 20px
}

.panel .goals {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 13px
}

.panel .goals li {
    list-style: none;
    padding: 0;
    margin: 0 0 10px;
    color: #444
}

.panel .goals li .right {
    font-weight: bolder
}

.panel .goals li:last-child {
    margin-bottom: 0
}

.panel .activity {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 13px
}

.panel .activity li {
    list-style: none;
    padding: 0;
    margin: 0 0 10px;
    color: #444
}

.panel .activity li .right {
    font-weight: bolder
}

.panel .activity li:last-child {
    margin-bottom: 0
}

.panel .activity li i.icon {
    width: 18px;
    height: 18px;
    display: inline-block;
    background-image: url(../images/spriteActivity.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 5px
}

.panel .activity li i.icon.eye {
    background-position: 0 4px
}

.panel .activity li i.icon.star {
    background-position: 0 -28px
}

.panel .activity li i.icon.heart {
    background-position: 0 -58px
}

.panel .activity li i.icon.messages {
    background-position: 0 -88px
}

.panel.searchPanel .right .black {
    color: #444
}

.panel.searchPanel .top {
    float: left;
    width: 100%;
    margin-bottom: 40px
}

.panel.searchPanel .bottom {
    float: left;
    width: 100%
}

.panel.searchPanel .text {
    float: left;
    width: calc(100% - 200px);
    font-size: 14px;
    line-height: 1.4em
}

.panel.searchPanel .text~.right {
    width: 200px;
    text-align: right
}

.panel.searchPanel .field {
    float: left;
    width: 33.33%;
    padding-right: 45px;
    font-size: 13px;
    color: #777
}

.panel.searchPanel .field:first-child {
    padding-right: 70px
}

.panel.searchPanel .field:last-child {
    padding-right: 0
}

.panel.searchPanel .field label {
    font-size: 13px;
    color: #777;
    display: block;
    margin-bottom: 10px
}

.panel.searchPanel .field select {
    width: 100%;
    display: block;
    height: 30px;
    line-height: 28px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px
}

.panel.searchPanel .field input[type=checkbox] {
    float: left;
    margin-right: 3px
}

.panel.searchPanel .field input[type=checkbox]+label {
    line-height: 1em
}

.panel.searchPanel .field.submit {
    padding-top: 20px
}

.panel.searchPanel .field.submit .btn {
    width: 100%
}

.panel.searchPanel .field.me {
    position: relative
}

.panel.searchPanel .field.me:after {
    content: " ";
    display: block;
    width: 18px;
    height: 16px;
    background-image: url(../images/fieldArrows.png);
    background-position: center;
    background-repeat: no-repeat;
    right: 25px;
    bottom: 7px;
    position: absolute
}

.panel.searchPanel .field.ages {
    text-align: center
}

.panel.searchPanel .field.ages label {
    text-align: left
}

.panel.searchPanel .field.ages select {
    width: 40%;
    float: left
}

.panel.searchPanel .field.ages select:last-child {
    float: right
}

.btn {
    width: auto;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    color: #fff;
    font-weight: 400;
    border: 0;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    transition: box-shadow .3s;
    -webkit-transition: box-shadow .3s;
    -moz-transition: box-shadow .3s;
    -ms-transition: box-shadow .3s;
    -o-transition: box-shadow .3s
}

.btn:hover {
    box-shadow: inset 0 0 300px rgba(0,0,0,.1)
}

.btn.btn-red {
    background-color: red
}

.btn.btn-blue {
    background-color: #2e74da
}

.btn img {
    display: inline-block;
    vertical-align: middle
}

.btn.btn-transparent {
    border: 1px solid #e3e4e8;
    background-color: #fff;
    line-height: 28px;
    color: #2c5c92
}

.btn.btn-mini {
    padding-left: 0;
    padding-right: 0
}

.btn.btn-mini:hover {
    box-shadow: inset 0 0 300px rgba(0,0,0,.1)
}

.contentSide {
    float: left;
    width: calc(100% - 290px)
}

.sidebarSide {
    float: left;
    width: 260px;
    margin-left: 30px
}

.sidebarSide.left {
    margin-left: 0;
    margin-right: 30px
}

.pagination {
    width: 100%;
    text-align: center;
    float: left;
    clear: both
}

.pagination ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.pagination ul li {
    display: inline-block;
    padding: 0;
    margin: 0
}

.pagination ul li a,.pagination ul li span {
    width: 30px;
    height: 30px;
    display: block;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    color: #444;
    border-radius: 3px;
    border: 1px solid transparent
}

.pagination ul li a:hover,.pagination ul li span:hover {
    border: 1px solid #ccc
}

.pagination ul li span {
    background-color: #fff;
    border: 1px solid #ccc;
    line-height: 28px;
    cursor: default
}

.footer {
    width: 100%;
    height: 40px;
    float: left;
    clear: both;
    background-color: #2465cb;
    line-height: 40px;
    margin-top: 40px;
    font-size: 13px;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0
}

.footer a {
    color: #fff;
    text-decoration: none
}

.footer a:hover {
    text-decoration: underline
}

.footer .copy {
    float: left;
    color: #a6bccc
}

.footer .name {
    color: #a6bccc;
    margin-left: 20px
}

.modal {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 50;
    background-color: transparent;
    transition: background-color .3s;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -ms-transition: background-color .3s;
    -o-transition: background-color .3s
}

.modal.open {
    top: 0;
    background-color: rgba(0,0,0,.5)
}

.modal.open .modal-body {
    opacity: 1;
    top: 80px
}

.modal .modal-body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 360px;
    margin: auto;
    max-width: 100%;
    opacity: 0;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s
}
