/*
 * RESET
 * ТЕКСТ
 * ФОРМЫ
 * ЧЕКБОКСЫ
 * КНОПКИ
 * ИКОНКИ
 * ПАГИНАЦИЯ
 * СКРУГЛЕННЫЕ ФОТО
 * СПИСОК ПРОФИЛЕЙ
 * ГАЛЕРЕЯ ФОТО
*/


/*BEGIN - RESET*/

a:focus,
img:focus,
input:focus,
button:focus,
select:focus,
textarea:focus {outline: 0}

input::-moz-focus-inner,
button::-moz-focus-inner {
    outline: 0;
    border: 0;
    padding: 0
}
input[type="search"] {-webkit-appearance: textfield;}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {height: auto;}

input[type="submit"],
button[type="submit"] {-webkit-appearance: none;}

/*BEGIN - RESET*/


/*BEGIN - ТЕКСТ*/

.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}

/*BEGIN - ТЕКСТ*/


/*BEGIN - ФОРМЫ*/

.form {
    display: block;
    width: 100%;
}

.form__group {
    position: relative;
    margin-bottom: 10px;
}

.form__group:last-child {margin-bottom: 0;}

.form__group-input
input.form__group-input,
textarea.form__group-input {
    float: none;
    display: block;
    width: 100%;
    max-width: none;
    height: 30px;
    padding: 4px 8px;
    font: 400 13px/20px 'Open Sans', sans-serif;
    color: #444;
    border: 1px solid #cccccc;
}

textarea.form__group-input {height: 70px;}

.form__group-input::-moz-placeholder  {color: #aaa; opacity: 1;}
.form__group-input:-ms-input-placeholder  {color: #aaa; opacity: 1;}
.form__group-input::-webkit-input-placeholder {color: #aaa; opacity: 1;}

.form__group-input:focus::-moz-placeholder  {color: #aaa; opacity: 0;}
.form__group-input:focus:-ms-input-placeholder  {color: #aaa; opacity: 0;}
.form__group-input:focus::-webkit-input-placeholder {color: #aaa; opacity: 0;}

/*END - ФОРМЫ*/


/*BEGIN - ЧЕКБОКСЫ*/

.checkbox-list {list-style: none;}

.checkbox-list__item {margin-bottom: 10px;}
.checkbox-list__item:last-child {margin-bottom: 0;}

input.checkbox-input {display: none !important;}

.checkbox-label {
    position: relative;
    display: block;
    padding-left: 25px;
    line-height: 20px;
    cursor: pointer;
}

.checkbox-label::before,
.checkbox-label::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    width: 14px;
    height: 14px;
    
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.checkbox-label::before {
    display: block;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.checkbox-label--radio::before {border-radius: 50%;}

.checkbox-label::after {
    content: '';
    position: absolute;
    display: none;
    background: url(../images/checkbox.svg) no-repeat center;
    background-size: 100%; 
}

.checkbox-label--radio::after {
    top: 6px;
    left: 3px;
    width: 8px;
    height: 8px;
    background: #2d8cf0;
    border-radius: 50%;
}

.checkbox-label:hover::before {border-color: #999;}

.checkbox-label--checked::before,
input.checkbox-input:checked + .checkbox-label::before {
    border-color: #2d8cf0;
    background-color: #2d8cf0;
}

.checkbox-label--checked::after,
input.checkbox-input:checked + .checkbox-label::after {display: block;}

.checkbox-label--radio.checkbox-label--checked::before,
input.checkbox-input:checked + .checkbox-label--radio.checkbox-label::before {background: none;}

/*END - ЧЕКБОКСЫ*/


/*BEGIN - КНОПКИ*/

.button {
    display: inline-block;
    vertical-align: top;
    min-width: 140px;
    max-width: 100%;
    padding: 4px;
    height: 30px;
    font: 500 13px/20px 'Open Sans', sans-serif;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #2e74da;
    border: 1px solid #2e74da;
    border-radius: 4px;
    cursor: pointer;
    
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
}

.button:hover {
    background-color: #3869c6;
    border-color: #3869c6;
}

.button--alert {
    background-color: #ff0000;
    border-color: #ff0000;
}
.button--alert:hover {
    background-color: #e50000;
    border-color: #e50000;
}

.button--rounded {
    color: #2c5c92;
    background-color: #fff;
    border-color: #e3e4e8;
}

.button--rounded:hover {color: #fff;}

.button--short {min-width: 30px;}

.button-social {
    display: inline-block;
    vertical-align: top;
    width: 44px;
    height: 44px;
    padding: 0;
    margin: 0;
    background: #fff url(../images/icon-social-sprite.svg) no-repeat left top;
    border: 2px solid;
    border-radius: 50%;
    cursor: pointer;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.button-social:hover {background-position-y: -40px;}

.button-social__fb {
    background-position: 0 0;
    border-color: #3b5998;
}

.button-social__fb:hover {background-color: #3b5998;}

.button-social__vk {
    background-position: -40px 0;
    border-color: #45668e;
}

.button-social__vk:hover {background-color: #45668e;}

.button-social__im {
    background-position: -80px 0;
    border-color: #8a3ab9;
}

.button-social__im:hover {background-color: #8a3ab9;}

.button-social__tw {
    background-position: -120px 0;
    border-color: #00aced;
}

.button-social__tw:hover {background-color: #00aced;}

/*END - КНОПКИ*/

/*BEGIN - ИКОНКИ*/

.icon-ui {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    background: url(../images/icon-sprite.png) no-repeat left top;
}

.icon-ui--menu {background-position: 0 0;}

.icon-ui--menu:hover,
.icon-ui--menu_active {background-position: -20px 0;}

.icon-ui--chat {background-position: 0 -20px;}

.icon-ui--chat:hover,
.icon-ui--chat_active {background-position: -20px -20px;}

.icon-ui--message {background-position: 0 -40px;}

.icon-ui--message:hover,
.icon-ui--message_active {background-position: -20px -40px;}

.icon-ui--trash {background-position: 0 -60px;}

.icon-ui--trash:hover,
.icon-ui--trash_active {background-position: -20px -60px;}

.icon-ui--star {background-position: 0 -80px;}

.icon-ui--star:hover,
.icon-ui--star_active {background-position: -20px -80px;}

.icon-ui--hearth {background-position: 0 -100px;}

.icon-ui--hearth:hover,
.icon-ui--hearth_active {background-position: -20px -100px;}

.icon-ui--hearth_added,
.icon-ui--hearth_added:hover {background-position: -60px -100px;}

.icon-ui--remove {background-position: 0 -120px;}

.icon-ui--remove:hover,
.icon-ui--remove_active {background-position: -20px -120px;}

.button:hover .icon-ui,
.button:not(.button--rounded) .icon-ui {background-position-x: -40px;}

/*END - ИКОНКИ*/

/*BEGIN - ПАГИНАЦИЯ*/

.pagination {
    margin: -2px;
    font-size: 13px;
}

.pagination__item {
    display: inline-block;
    vertical-align: top;
    margin: 2px;
}

.pagination__link {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 28px;
    color: #444;
    text-decoration: none;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 2px;
}

.pagination__link:hover,
.pagination__link--current {
    background-color: #fff;
    border-color: #ccc;
}

.pagination__link--current{cursor: default;}

/*END - ПАГИНАЦИЯ*/


/*BEGIN - СКРУГЛЕННЫЕ ФОТО*/

.rounded-photo {
    display: inline-block;
    vertical-align: top;
    width: 64px;
    border: 3px solid #e3e4e8;
    border-radius: 50%;
    overflow: hidden;
}

.rounded-photo--thumb {
    width: 40px;
    border-width: 2px;
}

.rounded-photo__inner {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 100%;
}

.rounded-photo img {
    position: absolute;
    top: 50%;
    left: 50%;
    
    -webkit-transform: translate3d(-50%,-50%,0);
            transform: translate3d(-50%,-50%,0);
}

/*END - СКРУГЛЕННЫЕ ФОТО*/


/*BEGIN - СПИСОК ПРОФИЛЕЙ*/

.user-shortlist {list-style: none;}

.user-shortlist__item {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #aaa;
    
    display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    
    -webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.user-shortlist__item:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

.user-shortlist__profile {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    font-weight: 500; 
    
    display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    
    -webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
    
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
	flex-grow: 1;
}

.user-shortlist__profile:hover .user-shortlist__name {color: #2c5c92;}

.user-shortlist__name {
    padding: 0 10px;
    color: #2c5c92;
}

/*END - СПИСОК ПРОФИЛЕЙ*/


/*BEGIN - ГАЛЕРЕЯ ФОТО*/

.user-gallery {
    display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.user-gallery__item {
    width: 12.5%;
    padding-top: 1px;
    padding-right: 1px;
}

.user-gallery__add {
    display: block;
    width: 100%;
    height: 100%;
    background: #fff5b2 url(../images/upload-gallery-photo.svg) center no-repeat;
    border: 1px dashed #e5e5e5;
    cursor: pointer;
}

.user-gallery__add:hover {background-color: #fff088;}

.user-gallery__add input {display: none !important;}

.user-gallery__remove {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;
}

.user-gallery__image {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
    background-color: #000;
}

.user-gallery__image img {
	position: absolute;
	top: 50%;
	left: 50%;
	min-height: 100%;
	min-width: 100%;
	max-height: 200%;
    max-width: none;
    cursor: pointer;
	
	-webkit-transform: translate3d(-50%,-50%,0);
			transform: translate3d(-50%,-50%,0);
}

.user-gallery__item:hover .user-gallery__image img {opacity: 0.9;}

@supports (object-fit: cover) {
	.user-gallery__image img {
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		min-height: 0;
		min-width: 0;
		max-height: none;
		object-fit: cover;
		
		-webkit-transform: none;
				transform: none;
	}
}

.modal-gallery {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    background-color: rgba(0,0,0,0.75);
}

.modal-gallery--opened {display: block;}

.modal-gallery__header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    overflow: hidden;
}

.modal-gallery__counter {
    float: left;
    margin: 10px 0 0 10px;
    padding: 5px 15px;
    font-size: 10px;
    line-height: 20px;
    color: #fff;
    background: rgba(0,0,0,0.1);
    border-radius: 4px;
    
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

.modal-gallery__close {
    position: relative;
    float: right;
    display: block;
    margin: 10px 10px 0 0;
    padding: 0;
    height: 40px;
    width: 40px;
    border: 0;
    background: none;
    cursor: pointer;
}

.modal-gallery__close::before,
.modal-gallery__close::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 12.5%;
    display: block;
    margin-top: -1px;
    width: 75%;
    height: 2px;
    background-color: #aaa;
}

.modal-gallery__close::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.modal-gallery__close::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.modal-gallery__close:hover::before,
.modal-gallery__close:hover::after {background-color: #ff4a4a;}

.modal-gallery__body {
    position: relative;
    padding: 0 70px 10px;
    height: 100%;
    
    display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    
    -webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.modal-gallery__image {
    max-height: 100%;
    vertical-align: top;
}

.modal-gallery__control {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 70px;
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
}

.modal-gallery__control--prev {left: 0;}
.modal-gallery__control--next {right: 0;}

.modal-gallery__control::before,
.modal-gallery__control::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 30%;
    display: block;
    width: 40%;
    height: 2px;
    margin-top: -1px;
    background-color: #aaa;
}

.modal-gallery__control:hover::before,
.modal-gallery__control:hover::after {background-color: #fff;}

.modal-gallery__control--prev::before,
.modal-gallery__control--prev::after {
    -webkit-transform-origin: 0 50% 0;
            transform-origin: 0 50% 0;
}

.modal-gallery__control--next::before,
.modal-gallery__control--next::after {
    -webkit-transform-origin: 100% 50% 0;
            transform-origin: 100% 50% 0;
}

.modal-gallery__control--prev::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.modal-gallery__control--prev::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.modal-gallery__control--next::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}
.modal-gallery__control--next::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

/*END - ГАЛЕРЕЯ ФОТО*/