.user-profile {
    font-size: 14px;
    line-height: 20px;
}

.user-profile__header {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    text-align: right;
}

.user-profile__table {margin: 0 -20px;}

.user-profile__table-row {
    padding: 10px 0;
}

.user-profile__table-title {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    padding: 5px 20px;
    font-weight: 600;
}

.user-profile__table-content {
    display: inline-block;
    vertical-align: top;
    padding: 5px 20px;
}

.user-profile__table--status {
    padding: 0 20px;
}

.user-profile__table--status .user-profile__table-content{
    padding-left: 30px;
    margin-left: -10px;
    border-left: 1px solid #e3e4e8;
}

.user-profile--edit .user-profile__table-content {
    padding-top: 0;
    padding-bottom: 0;
}

.user-profile input[type="text"],
.user-profile select,
.user-profile textarea {
    float: none;
    display: block;
    max-width: none;
    width: 250px;
    height: 30px;
    margin: 0;
    padding: 4px 8px;
    font: 400 14px/20px 'Open Sans', sans-serif;
    color: #444;
    border: 1px solid #cccccc;
}

.user-profile__table--status input[type="text"] {width: 620px;}

.user-profile textarea {
    width: 620px;
    height: 120px;
    max-width: none;
}

.user-profile input[type="text"]::-moz-placeholder  {color: #aaa; opacity: 1;}
.user-profile input[type="text"]:-ms-input-placeholder  {color: #aaa; opacity: 1;}
.user-profile input[type="text"]::-webkit-input-placeholder {color: #aaa; opacity: 1;}

.user-profile input[type="text"]:focus::-moz-placeholder  {color: #aaa; opacity: 0;}
.user-profile input[type="text"]:focus:-ms-input-placeholder  {color: #aaa; opacity: 0;}
.user-profile input[type="text"]:focus::-webkit-input-placeholder {color: #aaa; opacity: 0;}

.user-profile__footer {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}
